<div>
    <h2>MY QUOTES</h2>

    <div style="background-image:url('/home/timothy/Documents/Moringa-School-Projects/moringacore/quote/src/app/quote/cars1.jpg');width:150px;
    height:200px;">
      
      <p id="galore">Quotes galore</p>
    </div>
    <ul>
      <li *ngFor='let quote of quotes;let i=index'> 
        {{quote.name}}
      
      
        <app-quote-detail [quote]='quote'
        (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
      </li>
    </ul>
    
    
    <div>
      <app-quote-form (addQuote)="addNewQuote($event)">

      </app-quote-form>
    </div>
  </div>
